<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <H1>Welcome Akash </H1>
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/bill' ? 'active' : '' %>" href="/bill">Bill</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/daily' ? 'active' : '' %>" href="/daily">Daily Bill</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/monthly' ? 'active' : '' %>" href="/monthly">Monthly</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/logout' ? 'active' : '' %>" href="/logout">Monthly</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <H1>Welcome to Akash Bhandhar</H1>

</nav>